<table mat-table [dataSource]="storeService.children" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let child; let i = index">{{i + 1 + currentPage*configService.getChildrenPerPage() }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let child"> {{child.name}} </td>
  </ng-container>

  <ng-container matColumnDef="kindergarden">
    <th mat-header-cell *matHeaderCellDef> Kindergarten</th>
    <td mat-cell *matCellDef="let child"> {{child.kindergarden.name}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Adresse</th>
    <td mat-cell *matCellDef="let child"> {{child.kindergarden.address}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Alter</th>
    <td mat-cell *matCellDef="let child">{{ getAge(child.birthDate) }}</td>
  </ng-container>

  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef>Geburtsdatum</th>
    <td mat-cell *matCellDef="let child">{{ child.birthDate | date:'longDate' }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Abmeldung</th>
    <td mat-cell *matCellDef="let child">
      <button mat-button (click)="cancelRegistration(child.id)">Abmelden</button>
    </td>
  </ng-container>

  <!-- Defines the Header and Cell association -->
  <tr mat-header-row *matHeaderRowDef="['position' ,'name', 'kindergarden', 'address', 'age', 'birthdate', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['position', 'name', 'kindergarden', 'address', 'age', 'birthdate', 'actions']"></tr>
</table>

<mat-paginator
               class="mat-elevation-z8"
               (page)="handlePageEvent($event)"
               [pageSize]="configService.getChildrenPerPage()"
               [pageIndex]="currentPage"
               [length]="storeService.childrenTotalCount"
               [pageSizeOptions]="pageSizeOptions"
               [showFirstLastButtons]="true"
               aria-label="Select page">
</mat-paginator>

