#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Z-Index sorgt dafür, dass die Navbar über anderen Elementen liegt */;
}

#header-content {
  padding-top: 3rem;
}

img {
  width:50%;
}

