#navbar {
  position: sticky;
  top: 0;
  padding: 0;
  margin: 0;

}

mat-toolbar {
  width: 100%;
  height: auto;
}

img {
  width: 50%;
}

a{
  font-size: 2rem;
  padding: 2rem 3rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 1rem 0;
  color: #3f51b5;
}

@media (max-width: 1200px) {
  a {
    font-size:1.5rem;
    padding: 1.5rem 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  a {
    font-size:1rem;
    padding: 1rem 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  a {
    font-size:0.8rem;
    padding: 0.5rem 0.5rem;
  }
  h1 {
    font-size: 1.2rem;
  }

  img {
    width: 100%;
  }

  #second-img {
    display: none;
  }

}

