<div class="container-fluid text-center p-0">
  <div class="row" id="navbar">
    <mat-toolbar class="justify-content-center">
      <a mat-button [routerLink]="['/dashboard']">Dashboard</a>&nbsp;&nbsp;
      <a mat-button [routerLink]="['/kindergardens']">Kindergärten</a>
    </mat-toolbar>
  </div>
  <div class="row m-5">
    <h1>{{ title }}</h1>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <img width="500" src="{{imagePath}}">
        <img width="500" src="{{imagePath}}" id="second-img">
      </div>
    </div>

  </div>
</div>

