<div class="row section text-center align-items-center">
  <div class="col">
    <h2>Über unsere Kindergärten</h2>
    <p>
      Unsere Kindergärten bieten eine liebevolle Umgebung für die frühkindliche Entwicklung.
      In modernen Einrichtungen und mit einem engagierten Team fördern wir jedes Kind individuell.
      Entdecken Sie unsere Philosophie, Einrichtungen, das Team,
      unseren Lehrplan und wie wir mit den Eltern zusammenarbeiten.
      Wir freuen uns darauf, Ihr Kind auf seinem Weg des Wachsens, Entdeckens und Spielens zu begleiten.
    </p>

  </div>
  <div class="col-xl-4">
    <a [routerLink]="['/kindergardens']">
      <img src="../assets/images/kindergarden_link.jpg" alt="Erzieher mit Kindern"
           class="responsive-image hover-effect">
    </a>
  </div>
</div>
