<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
  <h3 class="text-center fw-bold">Anmelderformular</h3>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput placeholder="Name" type="input" formControlName="name">
  </mat-form-field>
  <mat-divider></mat-divider>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="birthDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <mat-select formControlName="kindergardenId">
      <mat-option value="" disabled>Bitte auswählen</mat-option>
      <mat-option *ngFor="let kindergarden of storeService.kindergardens" [value]="kindergarden.id">
        {{kindergarden.name}}, {{kindergarden.address}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <button mat-raised-button color="primary" type="submit">Erfassen</button>
  <div class="alert alert-info m-2" *ngIf="displayAlert">
    <p class="fs-4">{{ message }}</p>
  </div>
</form>

<app-alert [message]="message" [title]="title" *ngIf="displayAlert" (closeModalEvent)="closeAlerts($event)"></app-alert>

