mat-toolbar {
  height: fit-content;
}

.footer {
  width: 100%;
  margin: 0;
  font-size: 0.8rem;
}

.d-flex {
  display: flex;
}

@media (max-width: 568px) {

  .footer {
    font-size: 0.6rem;
  }

}
