.toast {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 1000;
  display: block;
  width: max-content;
  max-width: 500px;
  box-shadow: 0 0 0.5rem rgba(63, 81, 181, 0.7);
}

@media (max-width: 540px) {
  .toast {
    max-width: 300px;
  }
}
