.toast {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 1000;
  display:block;
  width: max-content;
  max-width: 500px;
}

mat-icon {
  color: darkorange;
}

@media (max-width: 540px) {
  .toast {
    max-width: 300px;
  }
}
