<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="myModal">
  <div class="toast-header">
    <mat-icon>info</mat-icon>
    <strong class="px-1 me-auto">{{ title}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {{ message }}
  </div>
</div>

<!--  MODAL VARIATION  -->

<!--
<div class="modal" tabindex="-1" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">{{ title}}</h1>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
-->
