.table-responsive {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 0.1rem;
}

mat-cell,
mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}


button {
  text-align: left;
  padding: 0;
}

.mat-column-position {
  border-right: 1px solid currentColor;
  text-align: center;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  font-weight: bold;
}

th, td {
  font-size: 1rem;
}

@media (max-width: 1200px) {

  th, td {
    font-size: 0.9rem;
  }

  mat-paginator {
    font-size: 0.8rem;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

}

@media (max-width: 768px) {

  th, td {
    font-size: 0.8rem;
  }


}

@media (max-width: 576px) {

  th, td {
    font-size: 0.7rem;
  }

  mat-paginator {
    font-size: 0.6rem;
  }

}

