#dashboard-container {
  max-width: 1750px;
  margin: auto;
}

.card {
  width: 60%;
  max-width: 600px;
}

@media (min-width: 1024px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 75%;
  }
}

@media (max-width: 568px) {
  .card {
    width: 90%;
  }
}


