/* You can add global styles to this file, and also import other style files */

// bootstrap stile überschreiben
@import '../node_modules/bootstrap/scss/bootstrap';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

:root {
  //--bs-body-font-family: 'Coming Soon', cursive;
}

html, body {
  height: 100%;
  width: 100%
}

*{
  margin: 0;
  font-family: "Comic Sans MS" !important ;
}
